body {
  font-family: 'Merriweather', serif;
  color: #572111;
  margin: 20px;
  background-image: url(../images/background.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

body h1 #title {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem; }

body h2 {
  text-align: center;
  font-weight: 900;
  font-size: 1.7rem;
  margin-top: 2rem;
  margin-bottom: 2rem; }

body h3 {
  font-weight: 600;
  color: #d9b382;
  text-shadow: 2px 2px #572111; }

body #image-box {
  width: 100%;
  margin-right: 2rem;
  border-color: #d9b382;
  border-width: 20px;
  border-style: solid; }

.img-overlay {
  position: relative;
  max-width: 900px; }

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../images/Bicycle.gif);
  background-size: 30%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 50%; }

body .btn {
  background-color: #222b13;
  border-color: inherit;
  padding-left: 2rem;
  padding-right: 2rem; }

body .btn:hover {
  background-color: #556b2f;
  border-color: inherit; }
